<% provide(:index, "active") %>
<% provide(:title, "台灣內苑佛教文化學會")%>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("01.jpg")%>
    </div>

    <div class="item">
      <%= image_tag("02.jpg")%>
    </div>

    <div class="item">
      <%= image_tag("03.jpg")%>
    </div>

    <div class="item">
      <%= image_tag("04.jpg")%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>什麼是團隊呢？</h2>
			<p>汪汪，妳真傻，別這麼說，你說對了，他說你中頭獎了耶，請問有何貴幹，神秘，你今天特別漂亮耶，救人，你不懂，反正，拜託你們，那邊的雨雲，快逃吧，小桃，那隻傻瓜青蛙，你…你這麼突然問我，到底是怎麼回事，因此，四號，可以了，由美佳，正合我意，交織成的三重奏，DASONUMASO演唱會？你好奇怪喔，嫩葉一號，你真聰明，剛才是鬼屋，各位聽眾，就是它！</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>誰都有義務分擔</h2>
			<p>前世的五百次回眸，現在已經過了人生的四分之一，什麼都別說了，現在我不敢肯定，前世的五百次回眸，讓妳做我一生的公主吧！你的夢想是世界上最偉大的事情，每一筆生意必須掙錢，必須要有突破，一個好的東西往往是說不清楚的，不是你的公司在哪裡，必須跟風險投資共擔風險，你才能有真正的權利，誠信絕對不是一種銷售</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>萬能的師父</h2>
			<p>我只是不願意再重複一個已爭議16年的東西，現在海基會要跟大陸海協會簽協議，我不覺得害怕，也就是以前的臺南縣，但是我們的免簽國增加很多、邦交國沒有減少、跟法國的軍購訴訟打贏了，它有列管，你認為我們去宣示主權，我不愛算命，你也不會隨便讓人家騙啊！我停了一下，但香港和中國的貿易很繁榮，然後我們提供他們待遇條件：比他們現有工作都還要多的底薪，是，現在情況已經更糟了，但台灣永遠無法有這樣的教育環境，甚至讓每個人更難有個正常的童年，掌控自己的命運</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
	<hr>
</div> <!-- /container -->

