@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  padding-bottom: 200px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.desc_format {
  font-size: 14px;
}

/* Alerts - Style Devise Flash messages like Bootstrap */
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

/* Header */

/* Main Content */
.main {
  min-height: 100%;
}

/* forms */
input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
  align: center;
}

.centered-form {
  text-align: center;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

